* {
    font-family: 'Open Sans', sans-serif;
    color: #282A36;
}

html,
body {
    margin: 0;
    height: 100%;
    background: #F8F8F2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.container-form {
    width: 500px;
    height: 500px;
}